/*
MENU
0 - Geral
1 - Menu
2 - Section Intro
3 - Section Historia
4 - Section Info
5 - Section Loja
6 - Section Assine
7 - Footer
*/

/* 0 - Geral */

:root{
    --primary-black:#333;
    
    --secondary-black:#252525;

    --primary-white:#fafafa;

    --primary-gray:#e7e4d8;

    --footer-gray:#d6d3c8;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.clear:after , .clear:before{
    content: "";
    display: table;
    clear: both;
}

/*1 - Menu */

.menu {
    background-color: var(--secondary-black);
    padding: 5px;

}

.menu ul li a { 
    font-family: Georgia,serif;
    color: var(--primary-white);
    text-decoration: none;
}

.menu-nav {
    float: right;
}

.menu-nav li {
    display: inline-block;
} 

.menu-nav li a {
    padding: 5px 15px;
    display: block;
}

.menu-nav li:after {
    content: ""; /*Criacao de um pseudo elemento*/
    display: block;
    background-color: var(--primary-white);
    height: 5px;
    width: 0;
    transition: .3s;
}

.menu-nav ul li:hover:after {
    width: 100%;
    transition: .3s;
}

/*2 - Section Intro */

.intro {
    text-align: center;
    color: var(--primary-white);
    background: url("../assets/img/bg-intro.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    font-family: Georgia, serif;
}

.intro h1:after {
    content: "";
    display: block;
    height: 5px;
    width: 20px;
    background-color: var(--primary-white);
    margin: 10px auto;
    transition: .3s;
}

.intro h1:hover:after {
    content: ""; 
    display: block;
    background-color: var(--primary-white);
    height: 5px;
    width: 10%;
    transition: .3s;
}

.intro p {
    font-size: 1.125em;
    font-style: italic;
    font-family: Georgia, serif;
}

/*3 - Section Historia */

.sobre {
    padding: 60px 0;
}

.sobre h2 {
    font-family: Georgia, serif;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
}

.sobre-item{
    float: left;
    margin: 0 10px;
    width: 460px;
}

.sobre-item img {
    max-width: 100%;
    display: block;
}

.sobre-item h3 {
    font-size: 2.25em;
    line-height: 1em;
    font-family: Georgia,serif;
    background-color: var(--secondary-black);
    width: 220px;
    color: var(--primary-white);
    text-align: center;
    font-style: italic;
    padding: 5px 0 10px 0;
    position:relative;
    top: -25px;
    font-weight: normal;
}

.sobre p {
    text-align: center;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.4em;
    max-width: 460px;
    margin: 20px auto;
}

/* 4 - Section Info*/

.produtos {
    background-color: var(--primary-gray);
    font-family: Georgia, serif;
    text-align: center;
}

.produtos .container {
    display: inline-flex;
}

.produtos p {
    text-align: left;
}


.produtos-item {
    max-width: 30%;
    float: left;
    margin-right: 20px;     
}


.produtos-paulista,.produtos-carioca,.produtos-mineiro{
    text-align: center;
    font-weight: bold;
    font-size:2.3em;
    margin: 20px 0;
}

.produtos-paulista:before {
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #522d07;
    margin: 10px auto;
    border-radius: 50px;
    box-shadow: 0 0 0 10px #522d07; 
    border: 5px solid var(--primary-gray);
    transition: .3s;
}

.produtos-carioca:before {
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #c76b10;
    margin: 10px auto;
    border-radius: 50px;
    box-shadow: 0 0 0 10px #c76b10; 
    border: 5px solid var(--primary-gray);
    transition: .3s;
}

.produtos-mineiro:before {
    content: "";
    display: block;
    height: 100px;
    width: 100px;
    background-color: #b36109;
    margin: 10px auto;
    border-radius: 50px;
    box-shadow: 0 0 0 10px #b36109; 
    border: 5px solid var(--primary-gray);
    transition: .3s;
}



.produtos-btn {
    display: block;
    width: 100px;
    border: var(--primary-black) solid 3px;
    text-decoration: none;
    font-family: Georgia,serif;
    color: var(--secondary-black);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px auto ;
    padding: 15px;
}

.produtos-btn:hover {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    transition: .4s;   
}


/* 5 - Section Loja*/

.locais {
    text-align: center;
    background-color: var(--primary-white);
}

.locais-item {
    margin: 20px auto;
    display: inline-flex;
}

.locais-item div {
    margin-left: 15px;
}

.locais-item h2 {
    margin-bottom: 15px;
    font-weight: bold;
    text-align:left;
    font-family: Georgia;
    font-size: 2.25em;

}

.locais a {
    display: block;
    width: 100px;
    border: var(--primary-black) solid 3px;
    text-decoration: none;
    font-family: Georgia,serif;
    color: var(--secondary-black);
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto ;
    padding: 15px;
    float: left;
}

.locais a:hover {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    transition: .3s;
}

.locais-item p{
    width: 220px;
    text-align: left;
}

/* 6 - Section Assine*/ 

.assine {
    background-color: var(--primary-gray);
}


.assine form {
    float: right;
    display: inline-flex;
}

.assine form label {
    display: none;
}

.assine form input {
    border: var(--primary-black) solid 3px;
    padding:8px;
}

.assine form button {
    border: var(--primary-black) solid 3px;
    background-color: var(--primary-black);
    font-family: Georgia,serif;
    text-transform: uppercase;
    padding: 5px;
    color: var(--primary-white);
    font-size: 1.2em;
}

.assine-info {
    padding: 20px;
    display: block;
    width: 200px;
}

.assine-info h2 {
    font-family: Georgia;
    font-size: 2em;
    font-weight: bold;
    width: 200px;
}

.assine-info p {
    font-style: italic;
}

/* 7 - Footer*/

.footer {
    background-color: var(--footer-gray);
    padding: 35px;

}

.footer p {
    display: inline-flex;
}

.footer img{
    float: right;
}